$semibold: 500;
$bold: 700;
// Colors
$black: #000000;
$gray: rgba($black, 0.6);
$white: #FFFFFF;
$accent: #4285F4;



.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13 110 253 / 25%);
}

button {
    outline: none;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    font-family: inherit;
    font-size: inherit;
    font-weight: $semibold;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;

}

.btn-accent {
    background: $accent;
    color: $white;
}

label {
    display: block;
    margin: 0 0 10px;
    color: $accent;
    font-size: 12px;
    font-weight: $semibold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .05em;

}

h1 {
    padding: 4px 0;
    position: relative;
    z-index: 40;
    color: $accent;
    font-size: 24px;
    font-weight: $bold;
    text-transform: uppercase;

}

h4 {
    padding: 4px 0;
    position: relative;
    z-index: 40;
    color: $accent;
    font-size: 20px;

}